body {
    font-family: "Recoleta Alt";
}

.btn-validate{
    background: var(--info);
    color: var(--light);
    font-family: "Recoleta Alt";
    font-weight: 400;
    border-radius: 0.5rem;
    border: solid 1px var(--info);
    cursor: pointer;
    padding: 0.1rem 0.5rem;
}

.btn-delete{
    background: var(--danger);
    color: var(--light);
    font-family: var(--font-primary), "Recoleta Alt";
    font-weight: 400;
    border-radius: 0.5rem;
    border: solid 1px var(--danger);
    cursor: pointer;
    padding: 0.1rem 0.5rem;
}

h1{
    position: absolute;
    color: var(--light);
    font-family: var(--font-primary), "Recoleta Alt";
    font-size: var(--h1-font-size);
    bottom: 20px;
}

h2 {
    font-size: 1.5rem;
    font-weight: 500;
}

.home-title{
    color: var(--primary-dark);
    font-size: 2rem;
}
