/* ############### NAV FOOTER ################ */
.container-navfooter {
    display: flex;
    flex-direction: column;
    background-color: var(--secondary-dark);
    width: 100%;
    height: auto;
    padding: 2rem;
}

.navfooter-content {
    text-align: center;
    padding: 0.5rem;
}

.container-navfooter h3 {
    padding-top: 1rem;
    text-align: center;
    font-size: 1.5rem;
    font-weight: 300;
    color: var(--light);
}

.navfooter-location em {
    font-style: normal;
    font-size: 1.25rem;
}

.navfooter-location li,
a {
    text-align: center;
    font-size: 1rem;
    font-weight: 300;
    color: var(--secondary-light);
}

/* ###############  FOOTER ################ */

.container-footer {
    background-color: var(--primary-dark);
    color: var(--light);
    text-align: center;
    padding: 1rem;
}

.container-footer h4 {
    font-weight: 200;
}

.container-footer em {
    color: var(--warning);
    font-style: normal;
}

.logo-footer{
    cursor: pointer;
}

img.logo-footer{
    width: 8rem;
}
