.logo-header {
    cursor: pointer;
}
/* General styles for the header */
header {
    background-color: #4B816E;
    padding: 1rem;
    position: relative;
    z-index: 10;
}

.div-header {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

nav {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.logo-header, .menu-burger {
    height: 40px;
    cursor: pointer;
}

.icon-ticket{
    display: none;
}

/* Hide the nav-links by default (mobile-first) */
.nav-links {
    display: none;
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(38, 64, 55, 0.9);
    backdrop-filter: blur(5px);
    z-index: 100;
    justify-content: center;
    align-items: center;
    text-align: center;
}

.nav-links ul {
    padding: 0;
}

.nav-links ul li {
    margin: 1rem 0;
}

.nav-links ul li a {
    font-size: 1.5rem;
    color: white;
    transition: color 0.3s ease;
}

.nav-links ul li a:hover {
    text-decoration: underline;
}

.logo-desktop{
    display: none;
}

.txt-hidden{
    color: transparent;
}
/* Show nav-links when the menu is open */
.menu-open .nav-links {
    display: flex;
}


/* For larger screens (1024px and above) */
@media (min-width: 1024px) {
    /* Hide the burger menu */
    .menu-burger {
        display: none;
    }
    img.logo-header{
        display: none;
    }
    .logo-desktop{
        display: flex;
        justify-content: center;
    }

    .nav-links {
        display: flex;
        position: static;
        height: auto;
        width: auto;
        background-color: transparent;
        backdrop-filter: none;
        flex-direction: row;
        justify-content: flex-end;
        align-items: center;
    }

    .nav-links ul {
        display: flex;
        gap: 2rem;
        padding: 0;
    }

    .nav-links ul li {
        margin: 0;
    }

    .navfooter-content{
        display: flex;
        align-items: center;
        justify-content: space-around;
    }

    /* Logo stays on the left */
    .logo-header {
        margin-right: auto;
    }
}
