.dashboard{
    background-color: var(--bg-secondary-light);
    text-align: center;
}

.fil-ariane{
    background-color: var(--bg-secondary-light);
}

.logo-header{
    background-color: var(--primary);
    display: flex;
    justify-content: center;
    padding: 0.5rem 0 0 0;
}
img.logo-header{
    width: 10rem;
}

.nav-header{
    background-color: var(--primary);
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 0 1rem 1rem 1rem;
}

ul{
    display: flex;
    gap: 1rem;
}

li{
    list-style: none;
    display: inline;
}

h1{
    color: var(--primary);
    text-align: center;
    width: 100%;
}



.form-connect{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.form-body{
    display: flex;
    flex-direction: column;
    justify-content: center;
}

input{
    color: var(--primary);
    padding: 0.2rem 0.5rem;
    margin: 0.5rem;
    font-family: "Recoleta Alt";
    font-weight: 600;
    width: 100%;
}

.btn-primary-dark{
    color: var(--light);
    background-color: var(--primary-dark);
    border-radius: 0.5rem;
    padding: 0.2rem 0.5rem;
    text-align: center;
    justify-content: center;
    cursor: pointer;
    font-family: "Recoleta Alt";
    font-weight: 400;
    border: none;
    width: 100%;
}
