:root {
    --primary-xlight: rgba(143, 188, 172, 0.38);
    --primary-light: #8fbcac;
    --primary: #4b816e;
    --primary-dark: #264037;
    --bg-primary-xlight: #EFF5F3;

    --secondary-light: #dacbaf;
    --secondary: #7a6238;
    --secondary-dark: #463820;
    --bg-secondary-light: #f0edea;

    --light: #fff;
    --dark: #1a1a1a;

    --bg-light: #f2f2f2;
    --bg-card: #17257573;

    --color-studi: #49a9b4;

    --success: #10b981;
    --info: #0ea5e9;
    --warning: #ff8330;
    --danger: #fd3333;

    --btn-primary: #e5e5e5;
    --btn-secondary: #595959;

    --font-primary: "Recoleta Alt";
    --font-secondary: "LXGWWenKaiTC-Regular";
    --font-title: "KleeOne-Regular";

    /* --------- 0.5rem = 8px | 1rem = 16px --------- */
    --h1-font-size: 3rem;
    --h2-font-size: 1.5rem;
    --h3-font-size: 1.25rem;
    --normal-font-size: 1rem;
    --small-font-size: 0.5rem;
}
